<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leon.mapper.UserMapper">
<!--    插入一条数据-->
    <insert id="insertUser" parameterType="com.leon.pojo.User">
        INSERT INTO polyhedron.UserInfo
        (userQQ,userPassword,userEmail,userName,userSign,userHead,userBack,userMoney,isOnline)
        VALUES(#{userQQ},#{userPassword},#{userEmail},#{userQQ},"-","-","-",0,0);
    </insert>

<!--    查询单条数据 by userName-->
    <select id="selectUserByUserQQ" resultType="com.leon.pojo.User">
        select * from polyhedron.UserInfo where userQQ = #{userQQ};
    </select>
</mapper>