<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leon.mapper.UserMapper">
<!--    插入一条数据-->
    <insert id="insertUser" parameterType="com.leon.pojo.User">
        INSERT INTO polyhedron.UserInfo
        (userQQ,userPassword,userEmail,userName,userSign,userHead,userBack,userMoney,isOnline)
        VALUES(#{userQQ},#{userPassword},#{userEmail},#{userQQ},"---","defaultHead.jpg","defaultBack.jpg",0,0);
    </insert>

<!--    查询单条数据 by userQQ-->
    <select id="selectUserByUserQQ" resultType="com.leon.pojo.User">
        select * from polyhedron.UserInfo where userQQ = #{userQQ};
    </select>

<!--    更新一条数据-->
    <update id="updateUser" parameterType="com.leon.pojo.User">
        update polyhedron.UserInfo
        <trim prefix="set" suffixOverrides=",">
            <if test="userPassword!=null">userPassword=#{userPassword},</if>
            <if test="userEmail!=null">userEmail=#{userEmail},</if>
            <if test="userName!=null">userName=#{userName}, </if>
            <if test="userSign!=null">userSign=#{userSign},</if>
            <if test="userHead!=null">userHead=#{userHead},</if>
            <if test="userBack!=null">userBack=#{userBack},</if>
            <if test="userMoney!=null">userMoney=#{userMoney},</if>
            <if test="isOnline!=null">isOnline=#{isOnline},</if>
        </trim>
        <where>
            userQQ = #{userQQ};
        </where>
    </update>

<!--    根据用户名或昵称返回用户信息list  模糊查找-->
    <select id="selectUsersByUserQQOrUserName" resultType="com.leon.pojo.User">
        select * from polyhedron.UserInfo where INSTR(userQQ,#{userQQ})>0  or INSTR(userName,#{userQQ})>0;
    </select>

</mapper>