<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leon.mapper.UserSettingMapper">
<!--    根据userQQ查询所有setting数据-->
    <select id="selectUserAllSettingsByQQ" resultType="com.leon.pojo.UserSetting">
        select * from polyhedron.UserSetting where userQQ=#{userQQ};
    </select>

    <select id="returnAllSetting" resultType="com.leon.pojo.UserSetting">
        select * from polyhedron.UserSetting;
    </select>

<!--    插入一条数据-->
    <insert id="insertUserSetting" parameterType="com.leon.pojo.UserSetting">
        insert into polyhedron.UserSetting (userQQ,voiceNotice,messageNotice,spaceNotice,loginNotice)
        VALUES (#{userQQ},1,1,1,1);
    </insert>

<!--    修改一条数据-->
    <update id="updateUserSetting" parameterType="com.leon.pojo.UserSetting">
        update polyhedron.UserSetting
        SET voiceNotice = #{voiceNotice},messageNotice = #{messageNotice},spaceNotice = #{spaceNotice},loginNotice = #{loginNotice}
        WHERE userQQ = #{userQQ};
    </update>

</mapper>